:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main-color: #1663A9;
  --sec-color: #68ACE9;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin-top: 100px;
  scrollbar-darkshadow-color: rgb(249, 0, 0);
}
.container {
  margin: 0 auto;
  padding: 10px;
  width: 95%;
  height: 100%;
}
body{
  overflow-x: hidden;
}
h1 {
  font-size: 28px;
  /* color: #e52a6f; */
  color: var(--main-color);
  margin: 10px 0;
  border-bottom: 5px solid #565656;
  display: inline-block;
}
h3 {
  font-size: 24px;
  margin: 10px 0;
}
a {
  text-decoration: none;
}
li{
  list-style: none;
}
.background {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  z-index: -1;
  margin-top: -140px;
}
.background img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
/* header section starts */
header {
  background-color: var(--main-color);
  width: 100%;
}

.header-contact-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.header-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
.contact-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.header-contact p {
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
/* header section ends */

/* navigation section starts */

.navigation-background {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 99;
  border-bottom: 1px solid var(--sec-color);
}
.navigation {
  /* overflow-x: hidden; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
.logo {
  width: 20%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 10px 35px;
}
nav ul li a {
  text-decoration: none;
  display: inline-block;
  color: #000;
  font-size: 18px;
  padding: 2px 10px;
  transition: all 0.3s;
  position: relative;
}
nav ul li a::after {
  content: '';
  position: absolute;
  width: 0;
  bottom: -5px;
  left: 50%;
  height: 3px;
  background-color: #00d1ff;
  background-color: var(--sec-color);
  transition:all 0.3s linear;
}
nav ul li a:hover::after, 
nav ul li a.active::after{
  width: 100%;
  left: 0;
  transition:all 0.5s linear;
}

.menu-s{
  display: none;
}

/* navigation section ends */

/* homepage starts */

.coverSection{
  height: 80vh;
}
.homepage-background {
  background-image: linear-gradient(
      to right,
      rgba(22, 99, 169, 0.8),
      rgba(43, 139, 226, 0.5)
    ),
    url(./assets/coverSection/homepage.webp);
  background-size: cover;
  background-position: center;
}
.coverpage{
  width: 49%;
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
}
.coverpage h3 {
  font-size: 36px;
  text-transform: uppercase;
  font-family: 'Yeseva One', cursive;
  color: #fff;
}
.coverpage p{
  font-size: 20px;
  margin: 5px 0;
}
.coverpage p.slogan{
  text-transform: uppercase;
  color: #ffff00;
}

.coverpage .btn {
  padding: 5px 10px;
  background: none;
  text-decoration: none;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 30px;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 10px;
}
.coverpage .btn:hover {
  background-color: #fff;
  color: #000;
}


/* homepage ends */

/* table section starts */

.table-background {
  background: #f6f6f6;
}
.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px 0;
}
.table .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.table .card {
  flex: 1 1 0;
  background: #fff;
  padding: 50px 20px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 2px var(--sec-color);
}
.table .card:first-child {
  /* background: #00d1ff; */
  background: var(--sec-color);
  justify-content: flex-start;
  box-shadow: 2px 2px #696464;
}
.table .card h3 {
  font-size: 26px;
}
.table .card:first-child .card-header {
  font-size: 35px;
  color: #fff;
  margin-bottom: 30px;
}
.table .learn-more {
  background-color: #68ACE9;
  border-radius: 10px;
  display: block;
  width: unset;
}
.table .card:first-child .learn-more {
  display: none;
}
.table .learn-more:before {
  background-color: #2B8BE2;
}

/* table section ends */

/* about us section starts */

.about-background {
  /* background-color: #e6fff6; */
  background-color: #f6f6f6;
}
.about-us {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding: 30px 0;
}
.about-us-image {
  width: 40%;
}
.about-us-image img {
  border-radius: 10px;
}
.about-us-content {
  width: 55%;
  color: #000;
}
.about-us-content h3 {
  font-size: 32px;
  margin: 5px 0;
  color: #000;
}
.about-us-detail {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

/* button effect */
.learn-more {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  /* background-color: #a47fae; */
  background-color: var(--sec-color);
  padding: 10px 20px;
  margin-top: 10px;
  width: 150px;
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.2s linear 0s;
}
.learn-more:before {
  content: "\ff1e";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 30px;
  background-color: #2B8BE2;
  border-radius: 0 50% 50% 0;
  transform: scale(0, 1);
  transform-origin: left center;
  transition: all 0.2s linear 0s;
}

.learn-more:hover {
  text-indent: 15px;
}
.learn-more:hover:before {
  transform: scale(1, 1);
  text-indent: 0;
}
/* button effect ends */

.about-us-detail-circle {
  background-color: #2f2f2f;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  padding: 30px;
}
.about-us-detail-circle img {
  margin-bottom: 10px;
}
.about-us-detail-circle span {
  color: #22c3e6;
}
.about-us-detail-circle a {
  text-decoration: none;
  color: #fff;
}

/* about us section ends */

/* quote section starts */

.quote-background {
  position: relative;
  height: 500px; 
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/brushing.webp'); 
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  z-index: 1;
}

.quote-content {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #fff;
  font-size: 28px;
  background: linear-gradient(90deg, rgba(22, 99, 169, 0.7),
  rgba(43, 139, 226, 0.9));
}

/* quote section ends */

/* services section starts */

.services-background {
  background-color: #f6f6f6;
}
.services {
  padding-bottom: 30px;
}
.services-header {
  text-align: center;
}
.services-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}
.services-detail-left {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}
.services-detail-left .card {
  width: 30%;
  background: #fff;
  color: #000;
  text-align: center;
  padding: 30px 25px;
  border-radius: 10px;
  box-shadow: 2px 2px var(--sec-color);
  cursor: pointer;
}
.services-detail-left .card:first-child {
  background: var(--sec-color);
  color: #fff;
  box-shadow: 2px 2px #696464;
}
.services-detail-left .card:hover {
  opacity: 0.6;
}
.services-detail-left .card:first-child img {
  background: #4f8ec6;
}
.services-detail-left img {
  margin-bottom: 20px;
  background: #f0f0f0;
  border-radius: 50%;
  padding: 10px;
}
.services-detail-right {
  width: 49%;
  background: #fff;
  border-radius: 10px;
}
.services-detail-right .services-detail-description {
  padding: 10px;
  /* color: #c98474; */
  color: #000;
}
.services-detail-right .services-detail-description h3 {
  color: #000;
}
.services .learn-more {
  /* background-color: #396fc0; */
  background-color: #68ACE9;
}
.services .learn-more:before {
  background-color: rgba(5, 48, 113, 0.6);
}

/* services section ends */

.dentist-background{
  background-color: #f6f6f6;
  position: relative;
}
.our-dentist{
  display: flex;
  flex-wrap: wrap;
}
.our-dentist-images{
  width: 25%;
  height: 350px;
}
.our-dentist-images img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dentist-background::after{
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(104, 172, 233, 0.6);
}
.our-dentist-content{
  width: 80%;
  text-align: center;
  top: calc(50% - 9rem);
  left: 10%;
  position: absolute;
  color: #fff;
  z-index: 1;
}
.our-dentist-content p{
  font-size: 5rem;
  margin-bottom: 2rem;
  font-family: 'Yeseva One', cursive;
}
.our-dentist-content a{
  font-size: 1.2rem;
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 15px 30px;
  color: #fff;
}
.our-dentist-content a:hover{
  background-color: #fff;
  color: #000;
}

/* .patients-say-background{
  background-color: #f6f6f6;
} */  
.patients-say{
  display: flex;
  justify-content: space-between;
  padding: 5rem;
}
.patients-say .title{
  font-size: 2.5rem;
  font-weight: 600;
  width: 100%;
}
.patients-say p{
  font-size: 1.4rem;
  margin-bottom: 1.3rem;
}
.patients-say .btn{
  padding: 15px 30px;
  border-radius: 30px;
  color: #fff;
  font-size: 1.2rem;
  background-color: var(--sec-color);
}
.patients-say .btn:hover{
  opacity: 0.8;
}


/* footer menu section starts */

.footer-menu-background {
  background-color: #C6E4FF;
}
.footer-menu {
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
}
.footer-contact {
  width: 49%;
}
.footer-menu p {
  color: #2f2f2f;
  cursor: pointer;
}
.footer-contact .contact,
.footer-contact .mail {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}
.footer-contact img {
  color: #fff;
  display: inline-block;
  background-color: #68ACE9;
  padding: 5px;
  border-radius: 50%;
}

/* footer menu section ends */

/* footer section starts */

footer {
  background-color: var(--main-color);
  padding: 10px 0;
}
.copyright {
  color: #fff;
  text-align: center;
}
/* footer section ends */

/* home page ends */